@use './models' as model;

$width-img-land: 100%;
$width-img-port: calc(100vh - 100px);

main.about__page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: $width-img-land;
        height: auto;
    }
    .about__title{
        margin-top: -150px;
        width: 700px;
        background: model.$color-background;
        box-shadow: 10px 10px 5px 0px #3D2335DD;
        -webkit-box-shadow: 10px 10px 5px 0px #3D2335DD;
        -moz-box-shadow: 10px 10px 5px 0px #3D2335DD;
        padding: 24px 50px;
        border-radius: 20px;
        h2{
            font-size: 44px;
            font-weight: model.$font-weight-bold;
            text-align: center;
        }
    }
    .about__section{
        margin-top: 30px;
        margin-bottom: 50px;
        width: 70%;
        li{
            h3{
                font-size: 18px;
                color: model.$primary-alter-color;
                font-weight: model.$font-weight-semibold;
                margin: 20px 0;
            }
            p{
                text-align: justify;
            }
        }
    }
    @media (max-width: 1000px){
        min-height: calc(100vh - 100px);
        position: relative;
        img{
            position: absolute;
            width: $width-img-land;
            max-width: $width-img-port;
            max-height: $width-img-port;
        }
        .about__title{
            margin-top: calc(100vh - 280px);
            z-index: 2;
            width: 90%;
            h2{
                font-size: 32px;
            }
        }
        .about__section{
            margin-top: 100px;
        }
    }
    @media (max-width: 600px){
        .about__title{
            padding: 20px 20px;
            h2{
                font-size: 18px;
            }
        }
        .about__section{
            width: 80%;
            li{
                h3, p{
                    text-align: center;
                }
            }
        }
    }
}