@use './models' as model;

.main__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 24px;
    background: model.$primary-color;
    .logo__footer{
        display: flex;
        align-items: center;
        img{
            cursor: pointer;
            transition: 0.25s;
            &:hover{
                filter: brightness(50%) contrast(100%);
            }
        }
        .rights{
            margin-left: 20px;
        }
    }
    .social__media{
        margin-right: 80px;
        display: flex;
        gap: 20px;
        font-size: 25px;
        .bi-github, .bi-linkedin{
            cursor: pointer;
            color: #ffd8f4;
            &:hover{
                color: model.$primary-alter-color;
            }
        }
    }
    @media (max-width: 600px){
        height: 300px;
        flex-direction: column;
        justify-content: space-around;
        .logo__footer{
            flex-direction: column;
            gap: 20px;
        }
        .social__media{
            margin: 0;
        }
    }
}