@use './models' as model;

.main__header{
    padding: 24px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        width: 40%;
        img{
            cursor: pointer;
            transition: 0.25s;
            &:hover{
                filter: brightness(50%) contrast(100%);
            }
        }
    }
    .nav__header{
        width: 60%;
        ul{
            display: flex;
            align-items: center;
            justify-content: space-around;
            li{
                position: relative;
                text-align: center;
                font-size: 18px;
                color: model.$color-light;
                font-weight: model.$font-weight-semibold;
                cursor: pointer;
                &:hover{
                    color: model.$primary-alter-color;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 26px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: model.$primary-alter-color;
                    transition: width 0.2s ease-in-out;
                    transform-origin: left;
                }
                &:hover::before{
                    width: 100%;
                    transform-origin: right;
                }
            }
        }
    }
}