@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@mixin btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-dark;
    background: $primary-alter-color;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-weight: $font-weight-bold;
    cursor: pointer;
    &:hover{
        background: $secondary-alter-color;
        color: #FFFFFF;
    }
}

@mixin popup{
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  .popUp{
    position: sticky;
    padding: 24px 50px;
    top: 100px;
    left: calc((100vw - 800px) /2);
    width: 800px;
    border-radius: 20px;
    background-color: $color-popup;
  }
}

$primary-color: #470083;
$secondary-color: #7721BF;
$primary-alter-color: #04FB04;
$secondary-alter-color: #018301;
$color-light: #BD72FD;
$color-dark: #3D2335;
$color-alter: #4c1e7a;
$form-text-color: #9ea0a4;
$color-popup: #5c5494;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

$font-family-general: 'Open Sans', sans-serif;

:root {
    font-family: $font-family-general;
    width: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    color: #FFFFFF;
    font-family: $font-family-general;
  }

  body{
    background: $primary-color;
    width: 100%;
    @media (min-width: 2000px) and (orientation: landscape){

      width: 2000px;
      margin-left: calc((100vw - 2000px)/2);
    }
}