@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@mixin btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-dark;
    background: $primary-alter-color;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-weight: $font-weight-bold;
    cursor: pointer;
    &:hover{
        background: $secondary-alter-color;
        color: #FFFFFF;
    }
}

@mixin popup{
  position: fixed;
  z-index: 20;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  .popUp{
    position: sticky;
    padding: 24px 50px;
    top: 100px;
    left: calc((100vw - 800px) /2);
    width: 800px;
    border-radius: 20px;
    background-color: $color-popup-background;
    @media (max-width: 1000px){
      width: 90%;
      left: calc((100vw - 90%) /2);
    }
    @media (max-width: 600px){
      width: 100%;
      border-radius: 0;
      top: 0;
      height: 100vh;
      padding: 30px 20px 10px 20px;
    }
  }
}

@mixin input{
  padding-left: 20px;
  margin: 20px 20px;
  height: 40px;
  font-size: 14px;
  font-weight: $font-weight-semibold;
  color: $color-dark;
  border-radius: 5px;
  border: 1px $form-text-color solid;
  outline: none;
  &::placeholder{
      font-size: 14px;
      color: $form-text-color;
  }
  @media (max-width: 600px){
    margin: 20px 10px;
    width: 260px;
  }
}



$primary-color: #470083;
$secondary-color: #7721BF;
$primary-alter-color: #04FB04;
$secondary-alter-color: #018301;
$color-light: #BD72FD;
$color-dark: #3D2335;
$color-alter: #4c1e7a;
$form-text-color: #9ea0a4;
$color-popup: #5c5494;
$color-background: #4c1e7add;
$color-popup-background: #5c5494dd;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

$font-family-general: 'Open Sans', sans-serif;

:root {
    font-family: $font-family-general;
    width: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    color: #FFFFFF;
    font-family: $font-family-general;
  }

/* START SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $color-dark;
  border-radius: 10px;
}

body.dark ::-webkit-scrollbar-track{
    background: $color-popup;
}

::-webkit-scrollbar-thumb {
  background: #00000060;
  border-radius: 10px;
}

body.dark ::-webkit-scrollbar-thumb {
    background: #FFFFFF80;
  }


body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-track {
    background: $primary-color;
    border-radius: 10px;
}

body.dark body::-webkit-scrollbar-track{
    background: $color-dark;
}

body::-webkit-scrollbar-thumb {
  background: $color-dark;
  border-radius: 10px;
}


/* END SCROLLBAR */

  body{
    background: $primary-color;
    width: 100%;
    @media (min-width: 2000px){

      width: 2000px;
      margin-left: calc((100vw - 2000px)/2);
    }
}